@import ../sass/animations
@import ../sass/mixins
@import ../sass/vars


.link
  $ts: .1s
  @include fadeIn(2s)
  position: absolute
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  font-family: 'Permanent Marker'
  font-size: 5rem

  span
    margin-right: .85rem
    color: var(--text-normal)

  em
    color: var(--accent)

  &:hover
    span
      text-shadow: 4px 4px 1px var(--accent)
    em
      text-shadow: 4px 4px 1px var(--text-normal)


@include for-size(mobile)
  .link
    flex-direction: column

    span
      font-size: 7rem
      line-height: 4rem
      text-shadow: 4px 4px 1px var(--accent) !important
      z-index: 9

    em
      font-size: 5rem
      text-shadow: -4px -4px 1px var(--text-normal) !important
