@import ../sass/animations
@import ../sass/mixins
@import ../sass/vars


$btnSize: 3rem
.root
  position: relative
  overflow: auto
  display: flex
  height: 100%
  margin: auto 0
  align-items: center

  .content
    display: block
    padding: $spacing $spacing * 2
    min-height: min-content

