@import ../../../styles/sass/mixins
@import ../../../styles/sass/vars


.root
  display: flex
  flex-wrap: wrap
  height: 400px
  width: 100%
  overflow: hidden
  background: url(/images/neon.jpg)
  background-repeat: no-repeat
  background-size: cover

  &:hover
    cursor: cell

  >div
    @include blurBg(50px)
    display: block
    background: rgba(var(--accent-rgb), .65)
    box-sizing: border-box
    transition: opacity .25s, background .1s

    &:hover
      background: rgba(var(--accent-rgb), .99)
