@import ../../../styles/sass/animations
@import ../../../styles/sass/mixins
@import ../../../styles/sass/vars


$br: .25rem
$size: 86%

.root
  position: relative
  height: 100%
  padding: 0


@include for-size(mobile)
  .root
    height: unset
