@import ../../../styles/sass/mixins
@import ../../../styles/sass/vars


.root
  height: 100vh
  display: flex
  flex: 1
  position: relative

  aside
    flex: 1

  main
    flex: 2

  .homeLink
    $size: 1.4rem
    display: block
    position: fixed
    right: 0
    top: 0
    padding: $size

    svg
      width: $size
      height: $size

      *
        fill: var(--accent)
        opacity: .8

      &:hover *
        opacity: 1


@include for-size(mobile)
  .root
    display: block
    flex-direction: column
    height: inherit

    .homeLink
      display: none

    aside, main
      flex: none

    main
      height: inherit
