@import ../../../styles/sass/animations
@import ../../../styles/sass/mixins
@import ../../../styles/sass/vars

.root
  display: flex
  align-items: flex-end
  flex-direction: column
  padding: $spacing * 4 $spacing * 2
  position: relative
  flex: 1
  justify-content: center

  &:after
    @include fadeIn(1s)
    content: ""
    position: absolute
    right: 0
    top: 0
    height: 100%
    width: 1px
    background: linear-gradient(to top, var(--background-secondary) 30%, var(--accent), var(--background-secondary) 70%)
    animation: growHeight 1s forwards infinite
    animation-iteration-count: 1

  button
    @include buttonReset
    margin: $spacing * .25 0
    color: var(--text-normal)
    font-size: 1.25rem
    font-family: $fontFamily
    font-weight: 400
    transition: color .25s

    &:hover
      color: rgba(var(--accent-rgb), .75)

    &[data-active="true"]
      color: var(--accent)

.mobileRoot
  @include blurBg(18px, rgba(var(--background-secondary-rgb), .9))
  position: sticky
  top: 0
  padding: $spacing * .75 0
  flex-direction: row
  display: flex
  align-items: center
  justify-content: center
  background: rgba(var(--background-secondary-rgb), .4)
  z-index: 9

  &:after
    content: ""
    display: block
    position: absolute
    height: 1px
    width: 100%
    bottom: 0
    background: linear-gradient(to right, var(--background-secondary), var(--accent), var(--background-secondary))

  button
    @include buttonReset
    border: 2px solid var(--text-muted)
    padding: .75rem
    margin: 0 1.5rem 0 0
    border-radius: 100%
    display: flex
    align-items: center
    justify-content: center

    &:last-child
      margin-right: 0

    &[data-active="true"]
      border-color: var(--accent)

      svg *
        fill: var(--accent)

    svg
      $size: 1.2rem
      width: $size
      height: $size

      *
        fill: var(--text-muted)
