@import ../../styles/sass/animations
@import ../../styles/sass/mixins
@import ../../styles/sass/vars


.btn
  $ts: .1s
  @include buttonReset
  position: absolute
  width: 100vw
  height: 100vh
  display: flex
  top: 0
  align-items: center
  justify-content: center
  font-family: 'Permanent Marker'
  font-size: 5rem
  background: var(--background-secondary)
  z-index: 99
  transition: top 1s, background .5s

  &[data-visible="false"]
    //@include blurBg(10px)
    top: -100vh
    background: rgba(var(--background-secondary-rgb), .8)

  >i
    position: absolute

  span
    margin-right: .85rem
    color: var(--text-normal)

  em
    color: var(--accent)

  &:hover
    span
      text-shadow: 4px 4px 1px var(--accent)
    em
      text-shadow: 4px 4px 1px var(--text-normal)


@include for-size(mobile)
  .btn
    flex-direction: column

    span
      font-size: 7rem
      line-height: 4rem
      text-shadow: 4px 4px 1px var(--accent) !important
      z-index: 9

    em
      font-size: 5rem
      text-shadow: -4px -4px 1px var(--text-normal) !important
