@import ../../styles/sass/mixins
@import ../../styles/sass/vars


.btn
  $ts: .1s
  @include buttonReset
  position: absolute
  width: 100vw
  height: calc(100vh - env(safe-area-inset-bottom))
  overflow: hidden
  display: flex
  top: 0
  align-items: center
  justify-content: center
  background: var(--background-secondary)
  border: .5rem solid var(--text-normal)
  z-index: 99
  transition: top .75s

  &[data-visible="false"]
    top: -105vh

  span.box
    padding: $spacing * 2
    position: relative
    
    .simulacrum
      @include absoluteCover
      border: 1px solid var(--accent)
      transition: transform .25s
      opacity: .5
    
    .name
      $fontSize: 9.5rem
      $shrink: .55
      display: flex
      flex-direction: column
      text-align: center
      position: relative
      text-transform: uppercase
      font-family: 'Londrina Outline'

      .firstName
        font-size: $fontSize
        line-height: $fontSize * ($shrink * 1.2)
      
      .lastName
        font-size: $fontSize * $shrink
        line-height: $fontSize * $shrink
        color: var(--accent)

  b.message
    position: absolute
    bottom: 2rem
    font-family: $fontFamily
    font-size: .9rem
    text-transform: lowercase
    letter-spacing: 3px
    color: var(--text-muted)
    opacity: .5


@include for-size(tablet-and-down)
  .btn
    border: none

    span.box
      padding: $spacing * .55